# env files
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environment files
.env
.venv/
venv/

# Build / packaging
build/
dist/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl